{% comment %}

  Generates the event banner.

  All event information is retrieved from `_data/courses.yml`. This includes:
    - Event Code
    - Event Date(s)
    - Event Location
    - Event Tag(s)
  All course content is retrieved from `_data/training_courses.yml` based in the event code:
    - Course Title
    - Course Description
    - Course Link

{% endcomment %}


{% assign code = page.code %}
{% assign courses = site.data.training_courses.widget | where:'code', code %}
{% assign course = courses[0] %}

<div class="event">

  <!-- Include Blue Date Banner -->
  <div class="event-date">
    <div class="calendar-symbol"><i class="icon-calendar"></i></div>
      {% for date in page.dates %}
        <div class="date-text">{{ date | date: "%d %b" }}<br></div>
      {% endfor %}
       <div class="date-text">{{ page.dates[0] | date: "%Y" }}<br></div>
  </div>

  <!-- Include General Information -->
  <div class="event-details">
    <h2>{{ course.title }}</h2>
    <div class="tags">
      {% for tag in page.tags %}
        <span class="tag">{{ tag }}</span>
      {% endfor %}
    </div>
    {{ course.text }}
    <a href="{{ course.url }}" class="read-more">Read More</a>
  </div>

</div>
