

#arc_sm_input_container td {
	width: 40%;
	max-width: 750px;
}
#arc_sm_input_container td + td {
	width: 60%;
}
#arc_sm_input_container input {
	display:inline-block;
	width: auto;
}

#arc_sm_input_container select {
	width: 40%;
}

#arc_sm_row_mem_per_core_right select {
	width: 15%;
}

.admonition {
	padding: 0 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	text-align: left;
	background-color: #e74c3c;
	color: white;
  };