

#arc_sm_input_container td {
	width: 40%;
	max-width: 750px;
}
#arc_sm_input_container td + td {
	width: 60%;
}
#arc_sm_input_container input {
	display:inline-block;
	width: auto;
}

#arc_sm_input_container select {
	width: 40%;
}

#arc_sm_row_mem_per_core_right select {
	width: 15%;
}