---
layout: default
format: blog-index
# Don't index these pages dear Google.
noindex: true
---

{% if page.title contains "Blog" %}
  {% assign whatPage = site.categories.blog %}
{% elsif page.title contains "Case Studies" %}
  {% assign whatPage = site.categories.casestudies %}
{% elsif page.title contains "changelog" %}
  {% assign whatPage = site.categories.changelog %}
{% endif %}

<div class="row">
    {{ content }}

	<div class="medium-12 columns t30">
		{% include _pagination.html content=whatPage %}
	</div><!-- /.medium-7.columns -->

</div><!-- /.row -->
