---
layout: default
format: frontpage
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
          <p>
          Welcome to the home of Research Computing at the University of Leeds.
          </p>
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->


{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}

<!-- row1 of services tiles -->
<div class="row t60">
	{% if site.data.widgets.widget1.image or site.data.widgets.widget1.video or site.data.widgets.widget1.title %}
		{% include _frontpage-widget.html widget=site.data.widgets.widget1 %}
	{% endif %}

	{% if site.data.widgets.widget2.image or site.data.widgets.widget2.video or site.data.widgets.widget2.title %}
		{% include _frontpage-widget.html widget=site.data.widgets.widget2 %}
	{% endif %}

	{% if site.data.widgets.widget3.image or site.data.widgets.widget3.video or site.data.widgets.widget3.title %}
		{% include _frontpage-widget.html widget=site.data.widgets.widget3 %}
	{% endif %}
</div>

<!-- row2 of services tiles -->
<div class="row t60">
	{% if site.data.widgets.widget4.image or site.data.widgets.widget4.video or site.data.widgets.widget4.title %}
		{% include _frontpage-widget.html widget=site.data.widgets.widget4 %}
	{% endif %}

	{% if site.data.widgets.widget5.image or site.data.widgets.widget5.video or site.data.widgets.widget5.title %}
		{% include _frontpage-widget.html widget=site.data.widgets.widget5 %}
	{% endif %}

	{% if site.data.widgets.widget6.image or site.data.widgets.widget6.video or site.data.widgets.widget6.title %}
		{% include _frontpage-widget.html widget=site.data.widgets.widget6 %}
	{% endif %}
</div>


<!-- end of frontpage.html doc -->
