---
layout: page
title: "{{ page.title }}"
permalink: "{{ page.url }}"
breadcrumb: true
---

{% assign code = page.code %}
{% assign services = site.data.service_catalogue | where:'code', code %}
{% assign service = services[0] %}

<p>{{ page.description }}</p>


{% for service in page.services %}

  <h3>{{ service.item }} </h3>
  <p>{{ service.description }} </p>
  
{% endfor %}

<br> <br>
<hr>
<p> <i> See more services in our catalogue: </i> </p>

<p>
  {% assign page_list = site.data.service_catalogue %}

  {% for service in page_list %}
          {% assign page = service %}
          {% include _catalogue.html %}
  {% endfor %}
</p>